.kl-section {
  margin-bottom: 16px;
  padding: 8px 16px;
  .title {
    font-size: 16px;
    color: #333333;
  }
  .content {
    margin-top: 16px;
    padding: 8px 0;
    border-radius: 4px;
  }
  .divider {
    width: 100%;
    border-bottom: 1px solid #d7d8d9;
  }
}